@import "../scss/reset.scss";
@import '../scss/import/_mixin.scss';

header {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  background-color: #fff;
  border-right: 1px solid #f9f9f9;
  z-index: 1000;
  transition: width .2s;

  .styleLeft {
    position: relative;
    @include disalijust(flex,center,none);
    flex-direction: column;
    width: 100%;
    height: 100%;

    .titleWrap {
      @include disalijust(flex,center,center);
      @include flexDir(column,100%);

      .titleH1 {
        height: 120px;
        line-height: 120px;
        font-size: 30px;
      }

      .titleVersion {
        width: 100%;
        height: 38px;
        line-height: 38px;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: #999;
        background: #f9f9f9;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }
    }

    .nav {
      display: flex;
      @include flexDir(column,100%);
      overflow-y: auto;

      .navList  {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #eee;
        font-size: 15px;
        font-weight: 600;
        color: #333;
        cursor: pointer;

        &:hover {
          color: #8581FF;
        }

        .navWrap {
          display: none;
        }

        &.active {
          + .navList-active {
            display:block !important;
          }
        }
        
      }


      .navList-active  {
        display:none;
        height: auto;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;

        .navTitle {
          color: #8581FF;
          text-transform: uppercase;
          font-weight: 600;
        }

        .navWrap {
          display: flex;
          flex-direction: column;

          .navDepth {
            height: 32px;
            line-height: 32px;
            text-indent: 24px;
            font-size: 14px;
            font-weight: 400;
            color: #666;
            cursor: pointer;

            &:hover {
              font-weight: 600;
              color: rgb(102, 102, 102);
              background-color: rgb(236, 236, 236);
            }
          }
        }

        &::after {
          content: '';
          background: #8581FF;
          
        }
      }

    }

    .styleHidden {
      position: absolute;
      @include disalijust(flex,center,center);
      top: 0;
      right: -44px;
      width: 44px;
      height: 44px;
      background: #000;
      cursor: pointer;
    }

  }
  
}

.navTitle {
  display: block;
  height: 60px;
  line-height: 60px;
  padding-left: 24px;
  cursor: pointer;
}

