@import '../scss/import/_mixin.scss';



.liveContents {

  min-width: 480px;

  .cntTitle {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    padding: 0 16px;

    h2 {
      height: 28px;
      line-height: 28px;
      letter-spacing: -.9px;
      font-size: 20px;
      font-weight: 600;
      color: #202020;
    }
  }

  .tabmenuWrap {
    top: 68px;
    max-width: 480px;
    position: sticky;
    z-index: 10;
    width: 100%;
    height: 48px;
    padding: 0 16px;
    background-color: white;

    .tabmenu {
      position: relative;
      @include disalijust(flex,center,none);

      li.active {
        font-weight: 700;
        color: #202020;
        border-bottom-color: #202020;
        cursor: default;
      }

      li {
        flex: 1;
        line-height: 48px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #ACACAC;
        cursor: pointer;
      }

      li:nth-child(1).active ~ .underline {
        left: calc(calc(100% / 4) * 1 - (calc(100% / 4) / 2));
        transform: translateX(-50%);
      }

      li:nth-child(2).active ~ .underline {
        left: calc(calc(100% / 4) * 2 - (calc(100% / 4) / 2));
        transform: translateX(-50%);
      }

      li:nth-child(3).active ~ .underline {
        left: calc(calc(100% / 4) * 3 - (calc(100% / 4) / 2));
        transform: translateX(-50%);
      }

      li:nth-child(4).active ~ .underline {
        left: calc(calc(100% / 4) * 4 - (calc(100% / 4) / 2));
        transform: translateX(-50%);
      }

      .underline {

        position: absolute;
        bottom: 6px;
        width: 30px;
        height: 4px;
        border-radius: 100px;
        background-color: #FF3C7B;
        transition: all .1s ease-in-out;

      }

    }
  }

  .liveListWrap {
    min-height: 360px;
    padding: 12px 16px 16px;
    overflow: hidden;

    .listRow {
      position: relative;
      @include disalijust(flex,center,none);
      height: 110px;
      margin-bottom: 12px;
      cursor: pointer;

      .photo {
        position: relative;
        width: 110px;
        height: 110px;
        border-radius: 8px;
        box-sizing: border-box;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(219,219,219,0.2);
          border-radius: 8px;
          box-sizing: border-box;
        }

        img {
          width: 100%;
          border-radius: 8px;
        }
      }

      .listContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: 100%;
        padding: 8px 0;
        margin-left: 12px;
        box-sizing: border-box;

        .listItem:nth-child(1) {
          margin-bottom: 3px;
        }

        .listItem:nth-child(3) {
          margin-top: auto
        }

        .listItem {
          @include disalijust(flex,center,none);
          min-height: 2px;
          margin-bottom: 2px;

          .badgeItem.newDj {
            height: 16px;
            width: 55px;
            text-indent: -99999px;
            background: url(https://image.dalbitlive.com/badge/dalla/bdg_new-1.png) center/cover no-repeat;
          }

          .title {
            font-size: 15px;
            font-weight: 700;
            color: #303030;
            word-break: break-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;            
          }

          em.gender.male {
            width: 14px; height: 14px;
            background: url(https://image.dalbitlive.com/common/icon/icoMale.png) center/cover no-repeat;
          }

          em.gender.female {
            width: 14px; height: 14px;
            background: url(https://image.dalbitlive.com/common/icon/icoFemale.png) center/cover no-repeat;
          }

          .nickNm {
            margin-left: 4px;
            font-size: 13px;
            font-weight: 400;
            color: #666;
            word-break: break-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .state {
            .dataCnt {
              flex-shrink: 0;
              display: inline-block;
              margin-right: 8px;
              padding-left: 16px;
              font-style: normal;
              font-size: 12px;
              font-weight: 500;
              color: #8B8B8B;
              line-height: 16px;
              background-position: left center;
              background-repeat: no-repeat;
              background-size: 16px;
            }

            .dataCnt.totalCnt {
              background-image: url(https://image.dalbitlive.com/common/dataCnt/dataIcon-twoman.png);
            }
            .dataCnt.entryCnt {
              background-image: url(https://image.dalbitlive.com/common/dataCnt/dataIcon-oneman.png);
            }
            .dataCnt.likeCnt {
              background-image: url(https://image.dalbitlive.com/common/dataCnt/dataIcon-heart.png);
            }
          }
          
        }
      }

    }
  }

}