@import '../scss/import/_mixin.scss';

.cntTitle {

  padding: 0px 16px;
  margin-bottom: 24px;

  h2 {
    height: 28px;
    line-height: 28px;
    letter-spacing: -.9px;
    font-size: 20px;
    font-weight: 600;
    color: #202020;
  }

  .point {
    max-width: 180px;
    order: -1;
    letter-spacing: -1px;
    font-size: 20px;
    font-weight: 600;
    color: #FF3C7B;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}