/* color*/
$MAINCOLOR: #FF3C7B;
$DOWNCOLOR: #FF6999;
$DISABLEDCOLOR: #FFD4E1;
$BLACKBTNCOLOR: #202020;
$IMGSERVER: unquote("https://image.dalbitlive.com");

// height 값 관리
$HEADER-HEIGHT: 52px;
$NAVIGATION-HEIGHT: 50px;
$GNB-HEIGHT: 68px;

//scroll 시 tab 고정 TOP값 (PC)
$PC-TABTOP : $HEADER-HEIGHT + $GNB-HEIGHT;
$MOBILE-TABTOP : $HEADER-HEIGHT;
$TAB-ZINDEX : 15;

// z-inde 관리
$ALERT-ZINDEX: 100;
$POPUP-ZINDEX: 90;
$POPSLIDE-ZINDEX: 80;
$MORE-ZINDEX: 20;
$FLOATING-ZINDEX: 20;
$GNB-ZINDEX: 50;
$NAVIGATION-ZINDEX: 50;
$PLAYER-ZINDEX: 60;
$HEADER-ZINDEX: 30;

// SUIT FONT-WEIGHT;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;
$Heavy: 900;